@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.event-container{
    background-color:mediumblue;
}
.football-event{
    display: flex;
  padding-top:45px;
   
}

.event-name{
  padding:70px 25px 200px 150px;
}
.event-title{
    font-size: 64px;
    font-weight: 700;
    color: #ffffff;
}
.button{
    background-color:mediumvioletred ;
    width: 160px;
    height: 40px;
    color:white;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding-top:8px;
    margin-top:-30px;
}
.event-picture img{
    width: 556px;
    height: 438px;
    padding:105px;
}
/* ---/player-container starts---- */
.players-container{
    /* background-color:rgba(211, 211, 211, 0.294); */
    margin:80px 100px 20px 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.player-box{
    width: 330px;
    height: 480px;
background-color:white;


}
.player-resume{
    padding: 15px;
    
}

.player-info{
    width: 300px;
    height: 154px;
    font-size: 16px;
   color:gray;
}
.player-name{
    font-size: 28px;
    margin-top:16px;
    color:black;
}
.player-image img{
    width: 300px;
    height: 256px;

}